*__pycache__
notes/

*.pyc 
*.png

Project1/src/plots/
Project1/src/__pycache__
Project1/src/data/
Project1/src/*.ipynb


Project2/submissions/
Project2/src/Test.ipynb
Project2/src/light*
Project2/src/*.ipynb
Project2/src/data/

Project3/submission/
Project3/mnist_data/
Project3/data/
Project3/*.ipynb



